 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*background-color: #000000;*/
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS reset End*/


span {
  height: 30px;
  margin-top: 15px;
  width: 100px;
  float: right;
}


label {
  font-weight: 200;
  font-size: 12px;
}

#select-form {
  background-color: #222;
  color: white;
}

/*.info {
  background-color: #E8E8EE;
}*/

.portfolio {
  cursor: pointer;
  white-space: pre;
}


/*Info view */
.info-view {
  height: 304px;
  overflow-y: scroll;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.info-view-title {
  font-size: 24px;
}

.info-subtitle {
  font-size: 18px;
}

.info-item {
  margin-top: 15px;
}

.trend-stats {
  font-size: 16px;
}

.remove-icon {
  color: rgb(202, 80, 80);
  cursor: pointer;
}

.down-icon {
  color: red;
  margin-right: 5px;
}

.up-icon {
  color: green;
  margin-right:5px;
}

/*Error messages*/

.error-message {
  font-size: 16px;
  color: rgb(137, 32, 32);
}

.success-message {
  font-size: 16px;
  color: rgb(39, 121, 39);
  font-style: italic;
/*d3 plot styles*/
.graph {
  background-color: #FFFBFF;
  float: right;
  border: 1px solid #d3d3d3;
  margin-bottom: 10px;
  border-radius: 4px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
text.tag {
  background: #000;
  color: #fff;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}


/*boilerplate to show scroll bar*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
